
body{
  padding: 0;
  margin: 0;
  font-family: "Poppins",sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  
}
.container{
  overflow-x: hidden;
}
.card-container{
  flex: 0 0 auto;         
  display: flex;  
  overflow-x: scroll;       
}

