
.profile-container{
  display: inline-block;
}
.profile-photo{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 317px;
  width: 317;
}

.name-details{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}

.header{
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.role{
  color: #F3BF99;
  font-size: 13px;
  font-weight:500;
}

.website{
  font-size: 10.5px;
  color: white;
}
.button-section{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.button-section >button{
  font-size: 15px;
  font-weight: 300;
}
.button{
  padding-left: 20px;
  padding-right: 20px;
  width: 115px;
  height: 34px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.linkedin{
  background-color: #5093E2;
  color: white;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.button-container a{
  text-decoration: none;
}
.link{
  color: white;
}
.mail{
  color: black;
}