@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: #23252C;
}
.container{
  margin-top: 10px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  background-color: #1A1B21;
  color: white;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
}