@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.container{
  border: 2px solid green;
  display: inline-block;
  font-family: "Inter", sans-serif;
}