.nav{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #672280 0%,#A626D3 100%);
  padding: 20px;
}

.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-left img{
  height: 32px;
  width: 32px;
}
