body{
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 5px 2px -1px rgba(237,225,237,1);
}

.hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
}
.logo{
  width: 70px;
}
h1{
  font-size: 40px;
}
.list-content{
  font-size: 25px;
}
.main-content{
  flex: 1;
  margin-top: 20px;
}
footer{
  background-color: rgb(147, 146, 146);
  padding: 8px;
  font-size: 18px;
  text-align: center;
}
