@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif; 
}

.nav{
  background-color: #21222a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 91px;
  box-sizing: border-box;
}

.nav-left{
  padding: 10px;
  display: flex;
  align-items: center;
  color: #59cae7;
  font-size: 25px;
  font-weight: bold;
}
.nav-left > img{
  width: 60px;
  height: 60px;
}

.nav-right{
  padding: 20px;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.main{
  background-color: #282D35;
  height: calc(100vh - 91px);
  box-sizing: border-box;
  overflow-x: hidden; 
  padding-left: 30px;
  padding-top: 30px;
}

h1{
  margin: 0;
  color: white;
}

.container img {
  max-width: 100%; 
  height: auto;
  
}

.fact-list li{
  font-size: 18px;
  line-height: 2rem;
  color: white;
  list-style: #61DAFB;
}
.fact-list li::marker{
  color: #61DAFB; 
  font-size: 25px;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  padding-left: 0;
}